<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dojo Survey</title>
</head>
<body class='container mt-lg-2'>
    <form action='/process' method="POST">
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <label for="dojo_location">Dojo Location:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name='dojo_location' value="San Jose">
                <label class="form-check-label" for="dojo_location">
                San Jose
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name='dojo_location' value="Texas">
                <label class="form-check-label" for="dojo_location">
                Texas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name='dojo_location' value="Online">
                <label class="form-check-label" for="dojo_location">
                Online
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="fav_language" value="Python">
                <label class="form-check-label" for="fav_language">
                Python
                </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="fav_language" value="C#">
                    <label class="form-check-label" for="fav_language">
                    C#
                    </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="fav_language" value="MERN">
                    <label class="form-check-label" for="fav_language">
                    MERN
                    </label>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Comment (optional):</label>
            <textarea name="comment" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
